@{
    ViewBag.Title = "Bit Calculator";
}
@using _02_MVC_Essentials.Models
@model _02_MVC_Essentials.Models.ByteCalculatorBindingModel

<div class="row">
    <div class="col-xs-8">
        <h1>
            <img src="http://sf.gwebtools.com/images/icons/binaryIcon.png">
            Bit Calculator
        </h1>

        @using (Ajax.BeginForm("Index", "Home", new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "results" }))
        {
            <div class="control-group">
                @Html.LabelFor(x => x.Quantity)
                <div class="controls">
                    @Html.TextBoxFor(x => x.Quantity, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Quantity)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Multiple)
                <div class="controls">
                    @Html.DropDownListFor(x => x.Multiple, ByteCalculatorBindingModel.ListItems, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.KiloByteSize)
                <div class="controls">
                    @Html.DropDownListFor(x => x.KiloByteSize, new List<SelectListItem>() { new SelectListItem() { Value = "1024", Text = "1024" }, new SelectListItem() { Value = "1000", Text = "1000" } }, null, new { @class = "form-control" })
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="GO"/>
        }
    </div>

    <div id="results" style="margin-top: 15px">
    </div>
</div>